{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}RiverBlog - Post{% endblock %}

{% block page_content %}
{% include '_post.html' %}
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comment.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'auth.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}